.placeOrder h2{
  font-size: 24px;
  text-align: center;
  margin-top: -16px;
  margin-bottom: 0;
}

.placeOrder-cart {
  margin-top: 20px;
}

.placeOrder-cart a{
  text-decoration: none;
  font-size: 18px;
  color: rgba(246, 252, 223, 0.644);
  margin-right: 26px;
  
}


.placeOrder-container{
  margin-left: 4%;
  line-height: 12px;
  padding: 20px;
  display: grid;
  grid-template-columns: 4fr 2fr;
  column-gap: 2px;
  row-gap: 30px;
}

.customer-address-container{
  width: 90%;
  justify-items: center;
  background: rgba(94, 92, 92, 0.089);
  padding: 20px;
  margin-top: 20px;
  line-height: 18px;
  border-radius: 10px; 
  height: fit-content; 
  
}

.customer-address{
  display: grid;
  grid-template-columns: 6fr 1fr;
  column-gap: 20px;
  row-gap: 30px;
  padding-bottom: 4px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.055);
  font-size: 16px;
}

.customer-address-container h3{
  margin-left: 0;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
}

.customer-address-container p{
  margin-left: 0;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.842);
  margin-bottom: 0;
  line-height: 10px;
}

.delivery-details{
  border: 1px solid rgba(255, 255, 255, 0.11);
  border-radius: 4px;
  margin: 8px;
  padding: 8px;
}

.modify-cart{
  text-align: center;
  cursor: pointer;
}

.modify-cart a{
  text-decoration: none;
  font-size: 16px;
}

.go-back{
  margin-top: 0;
  cursor: pointer;
}

.customer-address-container2{
  height: 35%;
}


.order-summary{
  display: grid;
  grid-template-columns: 7fr 2fr;
  column-gap: 20px;
  row-gap: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.055);
  font-size: 18px;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.order-summary p{
  font-size: 15px;
  font-weight:lighter;
}

.order-summary-paragraph p{
  font-weight: bold;
}

.termsandconditions{
  text-align: center;
  margin-top: 6px;
  font-size: 12px;
  width: 80%;
  margin-left: 26px;
}

.termsandconditions span:hover{
  cursor: pointer;
  text-decoration: underline;
}


@media (max-width: 432px){
  .placeOrder-container{
    display: block;
    margin: 0;
    padding: 0px;
    
  }

  .placeOrder h2{
    font-size: 22px;
    text-align: center;
    padding-bottom: 10px;
    background:  rgb(15, 15, 15);
   
  }

  .cart a {
    margin: 0 12px;
    font-size: 14px;
    display: block;
    color: red;
  }

  .header {
    height: 30px;
    display: block;
    margin: 0;
    /* flex-direction: row; */
  }

  .placeOrder-cart {
    margin-top: 0px;
  }
  
  .placeOrder-cart a{
    text-decoration: none;
    font-size: 18px;
    color: rgba(246, 252, 223, 0.644);
    margin-right: 10px;
    
  }
}

@media (max-width: 1024px)  and (min-width: 431px) {
  .placeOrder-container{
    display: block;
    margin-right: 0;
    padding: 0px;
    font-size: 22px;
    text-align: center;
    padding-bottom: 10px;
    background:  rgb(15, 15, 15);
  }

  
}